#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  height: 100vh;
}

$gap: 1rem;
.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  display: grid;
  grid-auto-rows: 1fr auto 2fr;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: all 300ms ease-in-out;
  }

  &--noBlur {
    //li {
    //  transition: all 300ms ease-in-out;
    //  opacity: 0;
    //}

    &::before {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0px);
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &:hover {
    .card__image {
      transform: scale(1.2);
    }
  }

  .question {
    z-index: 5;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0.5rem 1rem;
  }

  h3 {
    padding-bottom: 0.5rem;
    z-index: 5;
  }

  li {
    position: relative;
    z-index: 5;
    text-align: left;
  }

  input {
    z-index: 5;
    border-radius: 20rem;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #343434;
    padding: 0.5rem 1rem;

    &:active, &:focus-within {
      outline: 1px solid #252525;;
    }
  }

  .answer {
    display: flex;
    justify-content: center;
    color: #fac031;
  }

  input, .answer {
    margin: 0.25rem 1rem;
  }
}

.background {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
}

.finalAnswer {
  position: relative;
  z-index: 50;
  color: white;
  font-size: 10rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
  display: flex;

  * {
    color: #fac031;
  }
}

button {
  position: fixed;
  left: 2rem;

  &:nth-of-type(2) {
    top: 3rem
  }
}

h3 {
  margin: 0;
}

.spline {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.thug {

  position: absolute;
  left: 50%;
  top: 35vh;
  transform: translate(-50%, 0);
  z-index: 50;

  .cap {
    width: 13rem;
    height: 13em;
    position: absolute;
    left: 18%;
    top: -17%;
    z-index: 55;
  }

  .joint {
    width: 5rem;
    height: 5em;
    position: absolute;
    left: 52%;
    top: 57%;
    transform: rotateY(180deg);
    z-index: 55;
  }

  .glasses {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 28%;
    top: 16%;
    z-index: 55;
  }

  .joel {
    width: 20rem;
    height: 20rem;
    z-index: 52;
  }

}

.bitches {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;

  .row {
    display: flex;
    justify-content: center;

    div {
      width: 8rem;
      aspect-ratio: 1/1.2;
    }
  }

  .hand1, .hand2 {
    position: absolute;
  }

  .hand1 {
    transform: rotateZ(-20deg);
    top: -10%;
    left: -40%;
  }

  .hand2 {
    transform: rotateY(180deg) rotateZ(-20deg);
    top: 0;
    right: -40%
  }


}
